@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');

header{
    opacity: 0.4;
}

.icon{
    width: 10%;
    height: 10%;
}

a.dropdown-item{
    width: 300px;
    height: 30px;
}

header:hover{
    opacity: 1;
    transition: 0.5s;
}

.top-img{
    width: 100px;
    height: 100px;
    margin-left: 20px;
}

.active-menu{
    width: 100px;
    height: 100px;
    margin-left: 100px;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

.row{
    margin-top: 2%;
    box-sizing: border-box;
}

.row .col{
    font-family: 'Abril Fatface', cursive;
    font-size: 2em;
}

body{
    background-image: url(source/img/black_caviar.jpg)
}